#shopaz
    padding: 50px 30px 20px 20px
    border: 1.4px solid #cabcff9d
    .imgbox
        width: 180px
        padding: 20px
    .box
        input
            margin-top: 18px
            font-size: 18px
            width: 700px
            height: 42px
            border: 1px solid #9c9c9c
        ul
            display: flex               
            li
                border: 1px solid #9c9c9c
                border-radius: 10px
                padding: 10px
                display: inline-block   
                font-size: 15px
                margin: 19px 3px 20px 20px 
                color: black
            .icon
                font-size: 25px